body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

h1{
  font-size:clamp(24px,5vw,50px);
}

.box {
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

button {
  padding:10px 20px;
  border:none;
  background:pink;
  font-size:18px;
  border-radius:10px;
}
