body {
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(45deg,#ff9a9e,#fad0c4);
  font-family:Arial;
}

.box {
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

button {
  padding:10px 20px;
  border:none;
  background:pink;
  font-size:18px;
  border-radius:10px;
}